body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.title-banner {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.banner-position-text {
    margin: 20px;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}

.buttons-banner {
    margin-right: 10px;
    padding: 10px;
    background-color: #fff;
    color: #3498db;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.owl {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #345286;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    position: relative;
    flex-grow: 1; /* Кнопки займатимуть всю доступну ширину в рядку */
    max-width: calc(50% - 10px); /* Максимальна ширина, щоб дві кнопки не займали всю ширину на екранах з великою шириною */
}

.banner-position-text .buttons{
    display: flex;
    flex-wrap: wrap;
}

.button:hover {
    background-color: #5285de;
}

.button:active {
    background-color: #fff;
    color: #345286;
    border: 2px solid #345286;
}

.owl img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 span.witty-text-banner {
    color: #3573BA;
}

h2 span.educational-text-banner {
    color: #FDA718;
}

.mountains {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.mountains img {
    width: 100%;

}